{% extends 'base.html.twig' %}

{% block title %}Payment Success!{% endblock %}

{% block body %}

    {{ parent() }}

    <div class="text-center">
        <img class="img-fluid rounded" src="{{ asset('assets/img/check-7058.svg') }}" alt="trade-in" height="100px" width="100px">
    </div>

    <h1 class="text-center">Thanks for your order!</h1>
    <p class="text-center">
        We appreciate your business!
        If you have any questions, please contact us <a href="/contact">here</a>.
    </p>

{% endblock %}
